name: Generate GitHub Contribution Snake

on:
  # run automatically every 24 hours
  schedule:
    - cron: "0 0 * * *"  # every day at midnight
  
  # allows manual run at any time
  workflow_dispatch:
  
  # run on every push to main
  push:
    branches:
      - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # Generate GitHub Contribution Snake SVGs
      - name: Generate snake SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: touhidcodes   # <-- your GitHub username
          outputs: |
            dist/grid.svg
            dist/grid-dark.svg?palette=github-dark
          
      # Push generated SVGs to output branch
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

